* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Readex Pro", Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 50rem 1fr 1fr 1fr 1fr 5.25rem;
    gap: 1rem;
}

.main-page {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: end;
    list-style: none;
    margin: 1rem;
    width: 90%;
    padding-left: 0;
}

.a-menu {
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    color: #fff;
}

.trevel {
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    padding-right: 18rem;
    padding-left: 10rem;
    color: #fff;
}

.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 3rem 4rem 4rem 4rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.explore {
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 18px;
    width: 90px;
    height: 38px;
    background: #2b6f3e;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.icons {
    display: grid;
    margin-top: 2rem;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-self: center;
}

.section-1 {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.image1-1 {
    padding-top: 3rem;
    width: 12.5rem;
    height: 20.4rem;
}

.image1-2 {
    padding-bottom: 3rem;
    width: 12.5rem;
    height: 20.4rem;
}

.text-section-1 {
    display: flex;
    flex-direction: column;
    width: 28.69rem;
    height: 16.63rem;
    padding-left: 2rem;
    width: 100%;
}

.explore-now {
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 5px 10px;
    width: 7.81rem;
    height: 38px;
    background: #2b6f3e;
    font-weight: 600;
    font-size: 14px;
    color: #f8f8f8;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-2 {
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    color: #fff;;
}

.header-2 {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    color: black;
}

.image2-1 {
    background: url(../images/section2_1.jpg);
    width: 14.63rem;
    height: 21.63rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.image2-2 {
    background: url(../images/section2_2.jpg);
    width: 19.75rem;
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.image2-3 {
    background: url(../images/section2_3.png);
    width: 14.63rem;
    height: 21.63rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.a-2 {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: left;
    color: #fff;
    padding: 1em;
    grid-row: 2/3;
}

.section-3 {
    grid-row: 4/5;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
}

.image3-1 {
    background: url(../images/section3_1.jpg);
    width: 18.44rem;
    height: 23.31rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}

.image3-2 {
    background: url(../images/section3_2.jpg);
    width: 18.44rem;
    height: 23.31rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}

.image3-3 {
    background: url(../images/section3_3.jpg);
    width: 18.44rem;
    height: 23.31rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}

.a-3 {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    padding: 1em;
    grid-row: 2/3;
    border-radius: 10px;
    width: 16rem;
    height: 4.88rem;
    background: #fff;
    color: black;
}

.banner {
    grid-row: 5/6;
    grid-column: 1/2;
    width: 73.75rem;
    height: 20.88rem;
    border-radius: 8px;
    background: #2b6f3e;
    color: #fff;
    display: grid;
    grid-template-rows: 4rem 4rem 4rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 2rem;
}

.Newsletter {
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 18px;
    width: 146px;
    height: 38px;
    background: #fff;
    color: #2b6f3e;
}

.footer {
    grid-row: 6/7;
    grid-column: 1/2;
    background: #2b6f3e;
    text-align: center;
    width: 100%;
    color: #fff;
}

@media screen and (max-width: 432px) {
    .container {
        display: grid;
        grid-template-rows: 100% 1fr 1fr 1fr 1fr 5.25rem;
        gap: 1rem;
        height: 100%;
        width: 100%;
        }

    .main-page {
        grid-row: 1/2;
        grid-column: 1/2;
        background-image: url(../images/main-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        width: 100%;
        height: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-items: center;
        list-style: none;
        margin: 1rem;
        width: 90%;
        padding-left: 0;
    }
    
    .a-menu {
        text-decoration: none;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 400;
        font-size: 1.125rem;
        text-align: center;
        color: #fff;
        padding: 0;
    }
    
    .trevel {
        font-family: "Pacifico", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 2rem;
        color: #fff;
    }

    .section-1 {
        grid-row: 2/3;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .image1-1 {
        display: none;
    }
    
    .image1-2 {
        display: none;
    }

    .text-section-1 {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        padding-left: 2rem;
    }

    .section-2 {
        grid-row: 3/4;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 80px repeat(3, 1fr);
        grid-template-columns: 1fr;       
        gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: 2rem;
        align-items: center;
        justify-items: center;
    }

    .header-2 {
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: center;
        color: black;
    }
    
    .image2-1 {
        grid-row: 2/3;
        grid-column: 1/2;
        background: url(../images/section2_1.jpg);
        width: 14.63rem;
        height: 21.63rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 3fr 1fr;
    }
    
    .image2-2 {
        grid-row: 3/4;
        grid-column: 1/2;
        background: url(../images/section2_2.jpg);
        width: 19.75rem;
        height: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 3fr 1fr;
    }
    
    .image2-3 {
        grid-row: 4/5;
        grid-column: 1/2;
        background: url(../images/section2_3.png);
        width: 14.63rem;
        height: 21.63rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 3fr 1fr;
    }
    
    .a-2 {
        text-decoration: none;
        font-weight: 400;
        font-size: 1.125rem;
        text-align: left;
        color: #fff;
        padding: 1em;
        grid-row: 2/3;
    }

    .section-3 {
        grid-row: 4/5;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 5rem repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: 2rem;
        align-items: center;
        justify-items: center;
    }
    
    .image3-1 {
        background: url(../images/section3_1.jpg);
        width: 18.44rem;
        height: 23.31rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 3fr 1fr;
        justify-items: center;
    }
    
    .image3-2 {
        background: url(../images/section3_2.jpg);
        width: 18.44rem;
        height: 23.31rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 3fr 1fr;
        justify-items: center;
    }
    
    .image3-3 {
        background: url(../images/section3_3.jpg);
        width: 18.44rem;
        height: 23.31rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 3fr 1fr;
        justify-items: center;
    }
    
    .a-3 {
        text-decoration: none;
        font-weight: 400;
        font-size: 1.125rem;
        text-align: center;
        padding: 1em;
        grid-row: 2/3;
        border-radius: 10px;
        width: 16rem;
        height: 4.88rem;
        background: #fff;
        color: black;
    }

    .banner {
        grid-row: 5/6;
        grid-column: 1/2;
        width: 70%;
        height: 100%;
        border-radius: 8px;
        background: #2b6f3e;
        color: #fff;
        display: grid;
        grid-template-rows: 4rem 4rem 4rem;
        align-items: center;
        justify-self: center;
    }
    
    .Newsletter {
        text-decoration: none;
        border-radius: 8px;
        padding: 10px 18px;
        width: 146px;
        height: 38px;
        background: #fff;
        color: #2b6f3e;
    }
    
    .footer {
        grid-row: 6/7;
        grid-column: 1/2;
        background: #2b6f3e;
        color: #fff;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
    }
    
    
}
